node-linker=hoisted
shamefully-hoist=true
network-timeout=300000
fetch-retries=5
fetch-retry-mintimeout=100000
fetch-retry-maxtimeout=600000
auto-install-peers=true
strict-peer-dependencies=false
resolution-mode=highest
